// Color Variables

//Primary Colors
$primary-green: #1e7170;
$primary-orange: #ec8a49;
$primary-dark-green: #18575e;

// Black and whites

$text-black: #1d1d1d;
$text-white: #f8f5e7;
$background-off-white: #f1edd8;


// Secondary Colors
$secondary-yellow: #fbdc80;
$secondary-dark-yellow: #F9D543;
$secondary-red: #eb4055;
$secondary-light-green: #8dcfb2;
$secondary-green: #37BF8E;
$secondary-blue: #7093d7;
$secondary-dark-blue: #375CA4;

// Greys
$light-grey: #bdb6b2;
$medium-grey: #796f6a;
$dark-grey: #444241;